*.mat
*.pdf
*.rar
*.zip
*.pyc
/resampled2/ChatbotCode/Preprocessing.py
/resampled2/ChatbotCode/__init__.py
/resampled2/ChatbotCode/cek.py
/resampled2/ChatbotCode/svm.py
/resampled2/ChatbotCode/tes.py
/resampled2/arousal.model
/resampled2/backup/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-arousal.csv
/resampled2/backup/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-dominance.csv
/resampled2/backup/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-liking.csv
/resampled2/backup/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-valence.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-arousal.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-dominance.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-liking.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded-smote-valence.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-roundedXXX-smote-arousal.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-roundedXXX-smote-valence.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-roundedXXX.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-63DetikAllchannel-rounded-smote-arousal.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-63DetikAllchannel-rounded-smote-dominance.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-63DetikAllchannel-rounded-smote-liking.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-63DetikAllchannel-rounded-smote-valence.csv
/resampled2/data-bandpassed-theta-alpha-beta-gamma-pca-63DetikAllchannel-rounded.csv
/resampled2/data.csv
/resampled2/learn.py
/resampled2/learn2.py
/resampled2/learn3.py
/resampled2/learn3Arousal.py
/resampled2/learn3Valence.py
/resampled2/learn4.py
/resampled2/plot_classifier_comparison.py
/resampled2/saved_model/arousal.model
/resampled2/saved_model/arousal/arousal.model
/resampled2/saved_model/arousal/test_set.csv
/resampled2/saved_model/arousal/train_set.csv
/resampled2/saved_model/arousal_test_set.csv
/resampled2/saved_model/data-bandpassed-theta-alpha-beta-gamma-pca-60DetikAllchannel-rounded.csv
/resampled2/saved_model/service.py
/resampled2/saved_model/test_set_generator.py
/resampled2/saved_model/valence/test_set.csv
/resampled2/saved_model/valence/train_set.csv
/resampled2/saved_model/valence/valence.model
/resampled2/saved_model/valence_test_set.csv
/resampled2/test_set.csv
/resampled2/train_set.csv
/resampled2/valence.model
